$primary-color: #eeeeee;
$secondary-color: #00adb5;
$bg-color: #222831;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "MuseoModerno", cursive;
}

body {
  background: $bg-color;
  color: $primary-color;
  opacity: 0.87;
}

#root {
  max-width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* background: green; */
}

header {
  height: 10rem;

  width: 50vw;
  display: flex;
  align-items: center;

  padding: 1rem;
  /*   background: red; */
}

.navbar {
  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & ul li {
    margin-right: 1rem;
  }

  & a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: $primary-color;

    &:hover {
      color: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }
}

.about {
  margin-top: 10rem;
  

  & div {
display: flex;

  }

  & h1 {
    font-size: 6rem;
    font-weight: 300;
    color: $secondary-color;
  }

  & h1::before {
    content: ">\A0";
    padding-right: 3rem;
  }

  & span {
    width: 5rem;
    display: block;
    background-color: $secondary-color;
    animation: caret 1s steps(1) infinite;
  }
}

@keyframes caret {
  50% {
    background-color: transparent;
  }
}

@media (min-width: 350px) {
  header {
    justify-content: center;
  }
}

@media (min-width: 1080px) and (min-height: 500px) {
  header {
    justify-content: flex-end;
  }

  .navbar {
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
  }
}
