$primary-color: #eeeeee;
$secondary-color: #00adb5;
$bg-color: #222831;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: brandon-grotesque, sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  background: $bg-color;
  color: $primary-color;
}

#root {
  max-width: 93vw;
  margin: 0 auto;
}

header {
  max-width: 93vw;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  justify-content: center;
}

.navbar {
  & ul {
    width: 20rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  & a {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: $primary-color;

    &:hover {
      color: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }
}

.about {
  margin-top: 7rem;
  &__heading {
    display: flex;
    align-items: center;
    margin: 6rem 0;
  }

  & h1 {
    font-size: 3.5rem;
    font-weight: 300;
    color: $secondary-color;
    margin: 0;
  }

  & h1::before {
    content: ">\A0";
    padding-right: 2rem;
    vertical-align: 8%;
  }

  &__caret {
    height: 3.5rem;
    width: 1.2rem;
    display: block;
    background-color: $secondary-color;
    animation: caret 1s steps(1) infinite;
  }

  & p {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  & a {
    text-decoration: none;
    color: $secondary-color;
  }
}

/* Terminal Design */

.terminal {
  &__window {
    font-size: 1.7rem;
    width: 100%;
    margin: 4rem auto;
    box-shadow: 0 0.25rem 0.5rem #12181e;
    border-radius: 0 0 0.1rem 0.1rem;
  }

  &__bar {
    background: #191919;
    height: 36px;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &__body {
    height: 100%;
    background: #232323;
    padding: 18px;
  }

  &__body pre {
    margin: 0;
    font-family: inherit;
  }

  &__body .terminal__pulse {
    -webkit-animation: pulse 1s ease-in-out infinite;
    -moz-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
  }

  &__prompt::before {
    content: ">\A0";
    padding-right: 0.5rem;
    vertical-align: 8%;
  }

  &__command {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 2.5rem;
    color: #32c146;
    display: flex;
    flex-wrap: wrap;

    & a:hover {
      opacity: 0.8;
      transition: 0.1s ease-in-out;
    }
  }

  &__btn,
  &__btn::before,
  &__btn::after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: block;
  }

  &__btn {
    background: #f6b73e;
    position: relative;
    margin-left: 38px;
    top: 12px;
  }
  &__btn::before,
  &__btn::after {
    content: " ";
    position: absolute;
  }
  &__btn::before {
    background: #f55551;
    margin-left: -20px;
  }
  &__btn::after {
    background: #32c146;
    margin-left: 20px;
  }
}

footer p {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

.section__title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 6rem;

  &:after {
    content: "";
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 173, 181, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    width: 50%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & span {
    margin-bottom: 3rem;
  }

  & a {
    font-size: 1.7rem;
    text-decoration: none;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }
}

.project {
  background-color: #232323;
  color: $primary-color;
  margin-bottom: 4rem;
  width: 100%;
  padding: 3.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  box-shadow: 0 0.25rem 0.7rem #12181e;
  overflow: hidden;

  &__image {
    display: none;
  }

  &__side-container {
    display: flex;
    flex-direction: column;
  }

  &__skills-container,
  &__buttons-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: 500;
    font-size: 2.4rem;

    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    line-height: 2.7rem;
  }

  &__skill {
    font-size: 1.3rem;
    border-radius: 0.4rem;
    border: 2px solid #32c1457e;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &__link {
    margin-right: 2rem;
    margin-top: 2rem;
    white-space: nowrap;
    display: inline-block;
    line-height: 4rem;
    padding: 0 1.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(50, 50, 93, 0.11),
      0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0.4rem;
    letter-spacing: 0.025rem;
    text-decoration: none;
    transition: all 0.15s ease;
    font-size: 1.5rem;
    font-weight: 500;
    box-sizing: border-box;
    background: $secondary-color;
    color: #000;

    &:hover {
      background-color: #00c2cc;
      transform: translateY(-1px);
    }
  }
}

.secondary {
  background: #121212;
  color: $secondary-color;

  &:hover {
    background-color: rgba(18, 18, 18, 0.9);
  }
}

/* Media Queries */

@media (min-width: 1080px) {
  #root {
    max-width: 45vw;
  }

  header {
    max-width: 45vw;
    margin-top: 1rem;
  }

  header {
    height: 10rem;
    justify-content: flex-end;
  }

  .navbar {
    & ul {
      flex-direction: row;
      justify-content: flex-end;

      text-align: right;
    }

    & ul li {
      margin-left: 4rem;
    }

    & a {
      font-size: 1.9rem;
    }
  }

  .about {
    & h1 {
      font-size: 6rem;
    }

    &__caret {
      height: 7.5rem;
      width: 2.5rem;
    }

    & p {
      font-size: 2.2rem;
    }
  }

  /* Terminal Design */

  .terminal {
    &__window {
      font-size: 1.9rem;
      width: 100%;
      margin: 8rem auto;
      box-shadow: 0 0.25rem 0.5rem #12181e;
      border-radius: 0 0 0.1rem 0.1rem;
    }

    &__bar {
      background: #191919;
      height: 36px;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &__body {
      height: 100%;
      background: #232323;
      padding: 18px;
    }

    &__body pre {
      margin: 0;
    }

    &__body .terminal__pulse {
      -webkit-animation: pulse 1s ease-in-out infinite;
      -moz-animation: pulse 1s ease-in-out infinite;
      animation: pulse 1s ease-in-out infinite;
    }

    &__prompt::before {
      content: ">\A0";
      padding-right: 0.5rem;
    }

    &__command {
      padding-bottom: 3rem;
      color: #32c146;
    }

    &__btn,
    &__btn::before,
    &__btn::after {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      display: block;
    }

    &__btn {
      background: #f6b73e;
      position: relative;
      margin-left: 38px;
      top: 12px;
    }
    &__btn::before,
    &__btn::after {
      content: " ";
      position: absolute;
    }
    &__btn::before {
      background: #f55551;
      margin-left: -20px;
    }
    &__btn::after {
      background: #32c146;
      margin-left: 20px;
    }
  }

  .contact {
    & div {
      flex-direction: row;
      justify-content: center;
      margin: 6rem auto;
    }

    & span {
      &:after {
        font-size: 2rem;
        content: "•";
        margin: 0 3rem;
      }

      &:nth-child(3):after {
        content: "";
        margin: 0;
      }
    }
  }

  .project {
    display: flex;
    flex-direction: row;
    padding: 0;

    &__image-container {
      width: 40%;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }

    &__image {
      display: block;
    }

    &__side-container {
      display: flex;
      flex-direction: column;
      padding: 3.5rem;
    }
  }
}

/* Keyframes */

@-webkit-keyframes caret {
  50% {
    background-color: transparent;
  }
}

@-moz-keyframes caret {
  50% {
    background-color: transparent;
  }
}

@keyframes caret {
  50% {
    background-color: transparent;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
