$primary-color: #eeeeee;
$secondary-color: #00adb5;
/* $color: #393e46; */
$bg-color: #222831;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: $bg-color;
  color: $primary-color;
}

#root {
  max-width: 50vw;
  margin: 0 auto;
}

header {
  height: 10rem;
  max-width: 50vw;
  display: flex;
  align-items: center;
  padding: 1rem;

  justify-content: center;
}

.navbar {
  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  & ul li {
    margin-left: 4rem;
  }

  & a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: $primary-color;

    &:hover {
      color: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }
}

.about {
  &__heading {
    display: flex;
    margin: 5rem 0;
  }

  & h1 {
    font-size: 2.4rem;
    font-weight: 300;
    color: $secondary-color;
    margin: 0;
  }

  & h1::before {
    content: ">\A0";
    padding-right: 2.5rem;
  }

  &__caret {
    height: 3.5rem;
    width: 1.2rem;
    display: block;
    background-color: $secondary-color;
    animation: caret 1s steps(1) infinite;
  }

  & p {
    font-size: 2rem;
  }

  & a {
    text-decoration: none;
    color: $secondary-color;
  }
}

/* Terminal Design */

.terminal {
  &__window {
    font-size: 1.7rem;
    width: 100%;
    margin: 8rem auto;
    box-shadow: 0 0.25rem 0.5rem #12181e;
    border-radius: 0 0 0.1rem 0.1rem;
  }

  &__bar {
    background: #191919;
    height: 36px;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &__body {
    height: 100%;
    background: #232323;
    padding: 18px;
  }

  &__body pre {
    margin: 0;
    font-family: inherit;
  }

  &__body .terminal__pulse {
    -webkit-animation: pulse 1s ease-in-out infinite;
    -moz-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
  }

  &__prompt::before {
    content: ">\A0";
    padding-right: 0.5rem;
  }

  &__command {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 2.5rem;
    color: #32c146;
    display: flex;
    flex-wrap: wrap;

    & a:hover {
      opacity: 0.8;
      transition: 0.1s ease-in-out;
    }
  }

  &__btn,
  &__btn::before,
  &__btn::after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: block;
  }

  &__btn {
    background: #f6b73e;
    position: relative;
    margin-left: 38px;
    top: 12px;
  }
  &__btn::before,
  &__btn::after {
    content: " ";
    position: absolute;
  }
  &__btn::before {
    background: #f55551;
    margin-left: -20px;
  }
  &__btn::after {
    background: #32c146;
    margin-left: 20px;
  }
}

footer p {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

/* Media Queries */

@media (min-width: 480px) {
  header {
    justify-content: center;
  }
}

@media (min-width: 1080px) and (min-height: 500px) {
  header {
    justify-content: flex-end;
  }

  .navbar {
    & ul {
      flex-direction: row;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: right;
    }

    & ul li {
      margin-left: 4rem;
    }
  }

  .about {
    & h1 {
      font-size: 6rem;
    }

    &__caret {
      height: 7.5rem;
      width: 2.5rem;
    }
  }

  /* Terminal Design */

  .terminal {
    &__window {
      font-size: 1.7rem;
      width: 100%;
      margin: 8rem auto;
      box-shadow: 0 0.25rem 0.5rem #12181e;
      border-radius: 0 0 0.1rem 0.1rem;
    }

    &__bar {
      background: #191919;
      height: 36px;
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &__body {
      height: 100%;
      background: #232323;
      padding: 18px;
    }

    &__body pre {
      margin: 0;
    }

    &__body .terminal__pulse {
      -webkit-animation: pulse 1s ease-in-out infinite;
      -moz-animation: pulse 1s ease-in-out infinite;
      animation: pulse 1s ease-in-out infinite;
    }

    &__prompt::before {
      content: ">\A0";
      padding-right: 0.5rem;
    }

    &__command {
      padding-bottom: 3rem;
      color: #32c146;
    }

    &__btn,
    &__btn::before,
    &__btn::after {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      display: block;
    }

    &__btn {
      background: #f6b73e;
      position: relative;
      margin-left: 38px;
      top: 12px;
    }
    &__btn::before,
    &__btn::after {
      content: " ";
      position: absolute;
    }
    &__btn::before {
      background: #f55551;
      margin-left: -20px;
    }
    &__btn::after {
      background: #32c146;
      margin-left: 20px;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & div {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10rem 0;
  }

  & h2 {
    font-size: 2.4rem;
  }

  & a {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }

  & span:after {
    font-size: 2.5rem;
    content: "·";
    margin: 0 3rem;
  }

  & span:nth-child(3):after {
    content: "";
    margin: 0;
  }
}

/* Keyframes */

@-webkit-keyframes caret {
  50% {
    background-color: transparent;
  }
}

@-moz-keyframes caret {
  50% {
    background-color: transparent;
  }
}

@keyframes caret {
  50% {
    background-color: transparent;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
