@import "../components/design-tokens/variables.scss";

.about {
  margin-top: 7rem;
  &__heading {
    display: flex;
    align-items: center;
    margin: 4rem 0;
  }

  & h1 {
    font-size: 3.8rem;
    font-weight: 500;
    color: $secondary-color;
    margin: 0;
  }

  & h1::before {
    content: ">\A0";
    padding-right: 2.5rem;
    vertical-align: 8%;
  }

  &__caret {
    height: 3.5rem;
    width: 1.2rem;
    display: block;
    background-color: rgba(116,127,224,.65);
    animation: caret 1s steps(1) infinite;
  }

  & p {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.5;
  }

  & a {
    text-decoration: none;
    font-weight: 600;
    color: $secondary-color;
  }
}

@media (min-width: 1080px) {
  .about {
    & h1 {
      font-size: 7rem;
    }

    &__caret {
      height: 7.5rem;
      width: 2.5rem;
    }

    & p {
      font-size: 2.3rem;
    }
  }
}
