@import "../components/design-tokens/variables.scss";

header {
  max-width: 93vw;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  justify-content: center;
}

.navbar {
  & ul {
    width: 20rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  & a {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: $primary-color;

    &:hover {
      color: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }
}

@media (min-width: 1080px) {
  header {
    max-width: 45vw;
    margin-top: 1rem;
    height: 10rem;
    justify-content: flex-end;
  }

  .navbar {
    & ul {
      flex-direction: row;
      justify-content: flex-end;

      text-align: right;
    }

    & ul li {
      margin-left: 4rem;
    }

    & a {
      font-size: 1.9rem;
    }
  }
}
