@import "../components/design-tokens/variables.scss";

.project {
  background-color: #FFF;
  color: $primary-color;
  margin-bottom: 5rem;
  width: 100%;
  padding: 3.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &__image {
    display: none;
  }

  &__side-container {
    display: flex;
    flex-direction: column;
  }

  &__skills-container,
  &__buttons-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: 500;
    font-size: 2.7rem;

    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 2.7rem;
  }

  &__skill {
    font-size: 1.5rem;
    border-radius: 0.4rem;
    border: 2px solid #92eac0;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &__btn {
    margin-right: 2rem;
    margin-top: 2rem;
    white-space: nowrap;
    display: inline-block;
    line-height: 4rem;
    padding: 0 1.5rem;
    box-shadow: 0 0.4rem 0.6rem rgba(50, 50, 93, 0.11),
      0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 0.4rem;
    letter-spacing: 0.025rem;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 1.7rem;
    font-weight: 600;
    box-sizing: border-box;
    background: $secondary-color;
    color: #FFF;

    &:hover {
      opacity: 0.8;
      transform: translateY(-1px);
    }
  }
}

.secondary {
  background: #FFF;
  color: #747fe0;
}

@media (min-width: 1080px) {
  .project {
    display: flex;
    flex-direction: row;
    padding: 0;

    &__image-container {
      width: 40%;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }

    &__image {
      height: 100%;
      display: block;
    }

    &__side-container {
      width: 60%;
      display: flex;
      flex-direction: column;
      padding: 3.5rem;
    }
  }
}
