@import "../components/design-tokens/variables.scss";

.terminal {
  &__window {
    font-size: 2.1rem;
    width: 100%;
    margin: 4rem auto;
    border-radius: 0 0 0.1rem 0.1rem;
  }

  &__bar {
    background: #e4e3e5;
    height: 3.6rem;
    border-radius: 1rem 1rem 0 0;
  }

  &__body {
    height: 100%;
    background: #5a5d7a;
    padding: 1.8rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
      0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
  }

  &__body pre {
    margin: 0;
    font-family: inherit;
  }

  &__body .terminal__pulse {
    -webkit-animation: pulse 1s ease-in-out infinite;
    -moz-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
  }

  &__prompt {
    color: #f7f7f7;

    &::before {
      content: ">\A0";
      padding-right: 0.5rem;
      vertical-align: 8%;
    }
  }

  &__command {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 2.5rem;
    color: #e7d184;
    display: flex;
    flex-wrap: wrap;
  }

  &__btn,
  &__btn::before,
  &__btn::after {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    display: block;
  }

  &__btn {
    background: #fdbc3d;
    border: 1px solid #ffb524;
    position: relative;
    margin-left: 3.8rem;
    top: 1.2rem;
  }
  &__btn::before,
  &__btn::after {
    content: " ";
    position: absolute;
  }
  &__btn::before {
    background: #f96256;
    border: 1px solid #f65549;
    margin-left: -2rem;
  }
  &__btn::after {
    background: #33c948;
    border: 1px solid #2dbb41;
    margin-left: 2rem;
  }
}

@media (min-width: 1080px) {
  .terminal {
    &__window {
      font-size: 2.05rem;
      margin: 8rem auto;
    }

    &__body {
      padding: 3rem;
    }
    &__command {
      padding-bottom: 2.5rem;
    }
  }
}
